spring:
  application:
    name: nlpService
server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
app:
  csv:
    path: ../bank-ai-coach/uploads/transactions.csv